@import './base.css';
@import '../styles/design-tokens.css';
@import '../styles/components.css';
@import '../styles/utilities.css';
@import '../styles/header.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app { height: 100%; overflow: hidden; }
